.updates
    h3 Последнее обновление BlitzScript
    .updates-shagi
        .updates-shagi__shag
            h4 Обновление #4.6.20
            time 08.09.2020
            p Описание обновления. Добавлена возможность выбора сервиса для перевода денежных средств...
            a(href="") Читать полностью &#62;
        .updates-shagi__shag
            h4 Обновление #4.6.20
            time 08.09.2020
            p Описание обновления. Добавлена возможность выбора сервиса для перевода денежных средств...
            a(href="") Читать полностью &#62;
        .updates-shagi__shag
            h4 Обновление #4.6.20
            time 08.09.2020
            p Описание обновления. Добавлена возможность выбора сервиса для перевода денежных средств...
            a(href="") Читать полностью &#62;
        .updates-shagi__shag
            h4 Обновление #4.6.20
            time 08.09.2020
            p Описание обновления. Добавлена возможность выбора сервиса для перевода денежных средств...
            a(href="") Читать полностью &#62;

    a.btn.btn-border(href="updates.html") Смотреть все обновления 
        span &#62;