nav.nav
    ul(role="menubar")
        //- .active класс для активного пунка меню
        li.item(role="menuitem")
            a(href="modules.html") Модули
        li.item-mobile(role="menuitem")
            a(href="faq.html") Вопрос-ответ
        li.item-desctop(role="menuitem")
            a(href="faq.html") FAQ
        li.item-mobile(role="menuitem")
            a(href="updates.html") Новости
        li.item-desctop(role="menuitem")
            a(href="updates.html") Обновленич
        li.item(role="menuitem")
            a(href="contacts.html") Контакты
