nav.nav.navbar
    ul(role="menubar")
        li(role="menuitem")
            a(href="purchaseALicense.html") Купить лицензию
        li(role="menuitem")
            a(href="checkTheLicense.html") Проверить лицензию
        li.item-desctop.item--green(role="menuitem")
            a(href="makingASubscription.html") Скачать движок
        li(role="menuitem")
            a(href="#photo") Купить модуль
        li(role="menuitem")
            a(href="activateTheKey.html") Активировать ключ