//Главный контейнер слайдера
.slider-modules.swiper-container 
    // Обязательная оболочка
    .swiper-wrapper
        // Слайды
        .swiper-slide
            .swiper-slide__cont
                span.sale Акция!
                .swiper-slide__img: img(src="./wp-content/themes/Blitz-Script/assets/img/telegram.png", alt="telegram")
                .swiper-slide__figcaption
                    h3 Модуль «Telegram бот для хайпа»
                    .price 
                        p 
                            span 299$
                            | 199$
                        button.btn.btn-gren.open-modal Купить 
                    button.button.open-modal2 Подробнее о продукте
        .swiper-slide
            .swiper-slide__cont
                .swiper-slide__img: img(src="./wp-content/themes/Blitz-Script/assets/img/procent.png", alt="Начисление процентов")
                .swiper-slide__figcaption
                    h3 Модуль «Начисление % по “Бизнес дням”»
                    .price 
                        p 149$
                        button.btn.btn-gren.open-modal Купить 
                    button.button.open-modal2 Подробнее о продукте
        .swiper-slide
            .swiper-slide__cont
                .swiper-slide__img: img(src="./wp-content/themes/Blitz-Script/assets/img/nacr.png", alt="Автонакрутки")
                .swiper-slide__figcaption
                    h3 Модуль «Автонакрутки»
                    .price 
                        p 149$
                        button.btn.btn-gren.open-modal Купить 
                    button.button.open-modal2 Подробнее о продукте
        .swiper-slide
            .swiper-slide__cont
                .swiper-slide__img: img(src="./wp-content/themes/Blitz-Script/assets/img/telegram.png", alt="telegram")
                .swiper-slide__figcaption
                    h3 Модуль «Автонакрутки»
                    .price 
                        p 149$
                        button.btn.btn-gren.open-modal Купить 
                    button.button.open-modal2 Подробнее о продукте
        .swiper-slide
            .swiper-slide__cont
                .swiper-slide__img: img(src="./wp-content/themes/Blitz-Script/assets/img/nacr.png", alt="Автонакрутки")
                .swiper-slide__figcaption
                    h3 Модуль «Автонакрутки»
                    .price 
                        p 149$
                        button.btn.btn-gren.open-modal Купить 
                    button.button.open-modal2 Подробнее о продукте
    .slider-bottom
        // правая стрелка управления
        .swiper-button.swiper-button-prev ⟵
        // пагинация
        .swiper-pagination 
        // левая стрелка управления
        .swiper-button.swiper-button-next ⟶