section.doesNotExist.p-t-b1
    .container 
        .doesNotExist__block
            .doesNotExist__block--left
                img(src="./wp-content/themes/Blitz-Script/assets/img/404.jpg" alt="Страница не найдена" title="Страница не найдена")
            .doesNotExist__block--right
                .doesNotExist__block--img
                    img(src="./wp-content/themes/Blitz-Script/assets/img/404-number.png" alt="Страница не найдена" title="Страница не найдена")
                h1 Упс...Страница не найдена
                p Не беспокойтесь, перейдите на 
                    a(href="index.html") главную 
                    |или свяжитесь с нами:
                .social.socials
                    ul
                        li 
                            a.social-icons(href="mailto:mailmail@mail.ru" target="_blank") 
                                p.social-icons--img
                                    img(src="./wp-content/themes/Blitz-Script/assets/img/icons/mail2.svg", alt="mail")
                                span mailmail@mail.ru
                        li
                            a.social-icons(href="https://vk.com/" target="_blank")
                                p.social-icons--img: img(src="./wp-content/themes/Blitz-Script/assets/img/icons/vk2.svg", alt="vk")
                                span mailmail@mail.ru
                        li
                            a.social-icons(href="https://telegram.me/nik_instagram" target="_blank")
                                p.social-icons--img: img(src="./wp-content/themes/Blitz-Script/assets/img/icons/telegram2.svg", alt="telegram")
                                span nik_instagram