.main__block
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages1.svg" alt="Поддержка криптовалюты" title="Поддержка криптовалюты")
        .main__block-box--txt
            h3 Поддержка криптовалюты
            p Поддерживаем Bitcoin, Litecoin, Ethereum, Dash, Zcash и другие
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages2.svg" alt="Безопасность" title="Безопасность")
        .main__block-box--txt
            h3 Безопасность
            p Защита персональных данных
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages3.svg" alt="Стоимость продукта" title="Стоимость продукта")
        .main__block-box--txt
            h3 Стоимость продукта
            p Доступные цены на скрипты и обслуживание
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages4.svg" alt="Гибкость" title="Гибкость")
        .main__block-box--txt
            h3 Гибкость
            p Возможно добавить любой функционал в CRM
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages5.svg" alt="API" title="API")
        .main__block-box--txt
            h3 API
            p Возможность проверки на наличие лицензии по API
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages6.svg" alt="Техподдержка" title="Техподдержка")
        .main__block-box--txt
            h3 Техподдержка
            p Доброжелательная, русскоязычная и бесплатная техподдержка