.main__block.main__block2
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages7.svg" alt="Мультивалютность " title="Мультивалютность ")
        .main__block-box--txt
            h3 Мультивалютность 
            p (улучшенная, удобная версия для работы с разными валютами без конвертации)
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages8.svg" alt="Редактор текста" title="Редактор текста")
        .main__block-box--txt
            h3 Редактор текста
            p Краткое описание преимущества
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages9.svg" alt="QR" title="QR")
        .main__block-box--txt
            h3 Возможность выбора QR кода при пополнении для PayKassa или CoinPayments
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages10.svg" alt="PayKassa" title="PayKassa")
        .main__block-box--txt
            h3 Прием переплаты и недоплаты при пополнении через PayKassa
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages11.svg" alt="Payeer" title="Payeer")
        .main__block-box--txt
            h3 Приватные выплаты на Payeer
            p Краткое описание преимущества
    .main__block-box
        .main__block-box--img
            img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advantages12.svg" alt="Начисление" title="Начисление")
        .main__block-box--txt
            h3 Начисление по депозитам в определенные дни
            p Краткое описание преимущества