section.first-screen
    .container 
        .first-screen__wrap
            h1.title.title-mobile Добро пожаловать на сайт 
                span.title--green Blitz
                span.title--blue Script, 
                |как мы можем Вам помочь?
            h1.title
                span.green Blitz
                span.blue Script 
                |- движок для хапов
            p.subtitle С помощью нашей cms системы вы быстро создадите свой инвестиционный проект всего за 
                span 25$ в месяц.
            .button-wrapper 
                a.btn.btn-border.btn-green(href="purchaseALicense.html") Купить лицензию
                a.btn.btn-border(href="checkTheLicense.html") Проверить лицензию
                a.btn.btn-border.btn-mobile(href="makingASubscription.html") Скачать движок
                    //- banner-crugi