header.header
    .container 
        .header__mobali
            include ./../../bem-blocks/logo/logo-s.pug
            include ./../../bem-blocks/burger/burger.pug
        .header__inner
            .header__inner-wrap
                include ./../../bem-blocks/logo/logo.pug
                include ./../../bem-blocks/nav/nav.pug
                include ./../../bem-blocks/nav/navbar.pug