.social     
    h4 Контакты
    ul
        li: a(href="https://telegram.me/nik_instagram" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/telegram.svg", alt="telegram")
        li: a(href="https://vk.com/" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/vk.svg", alt="vk")
        li: a(href="http://facebook.com/" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/Facebook.svg", alt="Facebook")
        li: a(href="mailto:mailmail@mail.ru" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/mail.svg", alt="mail")