.accordion
    div.accordion-block.active
        h3 Формулировка вопроса по этой теме
        .accordion-block__box.active
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Какие существуют риски?
        .accordion-block__box
            p Мы гарантируем своим инвесторам конфиденциальность персональных данных
                |и сохранность денежных средств. Однако, помните,
                |что любое инвестирование всегда связано с риском, который пропорционально равен прибыли. Поэтому
                |мы подобрали оптимальное соотношение доходности
                |и риска при составлении инвестиционного плана.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div.accordion-block
        h3 Формулировка вопроса по этой теме
        .accordion-block__box
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.