section.about.p-t-b1
    .container 
        .section-wrap
            h2 Заголовок говорящий про движок
            p Уточняющая информация про движок. Здесь пользователю рассказывается достаточно подробная 
                |информация о движке и его преимуществах. 
            a.btn.btn-green(href="") Скачать движок
        include ./../../bem-blocks/updates/updates.pug

