.about {
    background: #f4f7fd;
    .btn {
        margin-top: 3.2rem;
        padding: 1rem 1rem;
        @media (min-width: 1024px) {
            padding: 1.2rem 3.2rem;
        }
    }
    h2 {
        @media (min-width: 1024px) {
            max-width: 50%;
        }
        @media (min-width: 1440px) {
            max-width: 40%;
        }
    }
    p {
        @media (min-width: 1024px) {
            text-align: left;
            max-width: 65.5rem;
        }
    }
}
