section.thanks.p-t-b
    .container 
        .thanks__wrapper
            h1.title  Спасибо, что Вы выбрали нас!
            h2 Операция прошла успешно!
            p Остались еще вопросы? Тогда просто напишите нам здесь:
            .social
                ul
                    li: a(href="https://telegram.me/nik_instagram" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/telegram.svg", alt="telegram")
                    li: a(href="http://facebook.com/" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/Facebook.svg", alt="Facebook")
                    li: a(href="https://vk.com/" target="_blank"): img(src="./wp-content/themes/Blitz-Script/assets/img/icons/vk.svg", alt="vk")
                    
                    
            a.btn.btn-border(href="index.html") Перейти на главную