section.advertisement.p-t-b1
    .container 
        .advertisement__block
            .advertisement__block-left
                img(src="./wp-content/themes/Blitz-Script/assets/img/icons/advertisement.svg" alt="Реклама" title="Реклама")
            .advertisement__block-right 
                h2 Интересный заголовок для рекламы bm
                p Уточняющая информация про  предлагаемые услуги, о выгодности предложения
                .button-wrapper 
                    a.btn.btn-border(href="") Посмотреть все демо
                    a.btn.btn-green(href="") Заказать прямо сейчас