.sidebar
    aside: a(href="") Сложность майнинга биткоина выросла почти на 8%
    aside: a(href="") Сноуден посоветовал не инвестировать в клоны Dogecoin
    aside: a(href="") Коррекция, восстановление или накопление. Три мнения о будущем биткоина
    aside: a(href="") Секрет успеха Shiba Inu. На какие токены обратить внимание
    aside: a(href="") Как заработать на криптовалюте?
    aside: a(href="") Как заработать на криптовалюте?