.btn {
    outline: none;
    border: none;
}
.button-wrapper .btn-green,
.nav.navbar ul li.item--green {
    @media (min-width: 1024px) {
        z-index: 0;
        overflow: hidden;
        border-radius: 24px;
        box-shadow: 0px 4px 4px rgba(18, 107, 75, 0.13);
        transition: all 0.5s;
    }
    &::before,
    &::after {
        @media (min-width: 1024px) {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
            z-index: -1;
            transform: none;
        }
    }
    &::after {
        @media (min-width: 1024px) {
            background: #2a8cff;
            opacity: 0;
        }
    }
    &::before {
        @media (min-width: 1024px) {
            display: block;
            background: #02bf7f;
        }
    }
    a {
        @media (min-width: 1024px) {
            padding: 1.2rem 3.2rem;
            font-size: 1.8rem;
            line-height: 24px;
            color: #ffffff;
        }
    }
    &:hover,
    &:focus {
        @media (min-width: 1024px) {
            box-shadow: 0px 15px 10px rgba(3, 80, 114, 0.15);
            transition: all 0.5s;
            &::after {
                opacity: 1;
                transition: all 0.5s;
            }
            &::before {
                opacity: 0;
                transition: all 0.5s;
            }
        }
    }
}
.btn {
    position: relative;
    width: 100%;
    border-radius: 24px;
    text-align: center;
    @include Montserrat-Medium;
    font-size: 1.8rem;
    line-height: 24px;
    padding: 1.2rem 3.2rem;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(18, 107, 75, 0.13);
    @media (min-width: 411px) {
        width: auto;
        display: inline-block;
    }
    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        z-index: -1;
        border-radius: 24px;
    }
    &::after {
        opacity: 0;
        background: #2a8cff;
    }
    &::before {
        display: block;
        background: #02bf7f;
    }
    &:hover,
    &:focus {
        box-shadow: 0px 15px 10px rgba(3, 80, 114, 0.15);
        &::after {
            opacity: 1;
            transition: all 0.5s;
        }
        &::before {
            opacity: 0;
            transition: all 0.5s;
        }
    }
}
.btn-border {
    color: #02bf7f;
    transition: all 0.5s;
    &::before {
        border: 1px solid #02bf7f;
        background: transparent;
        border-radius: 24px;
    }
    &::after {
        border: 1px solid transparent;
    }
    &:hover,
    &:focus {
        color: #ffffff;
        &::before {
            transition: all 0.5s;
            border: 1px solid #02bf7f;
        }
    }
}
.btn-green {
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
