section.section-update
    .container 
        h1 Обновления
        .update__wrap 
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article1.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 30 окт, 11:03
                    span 1 243
                a.h3(href="update.html"): h3 Питер Тиль назвал биткоин по 60 000 $ признаком инфляции
                p Высокая цена биткоина указывает на то, что экономика сталкивается с реальной инфляцией. Такое мнение высказал сооснователь PayPal Питер Тиль, сообщает Bloomberg. Выступая на...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 30 окт, 11:03
                    span 1 243
            include ./../../bem-blocks/sidebar/sidebar.pug


