section.section-updates
    .container 
        .updates__wrap 
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article2.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 30 окт, 10:32
                    span 243
                a.h4(href="update.html"): h4 Стоимость биткоина обновила исторический максимум
                p Курс биткоина установил новый исторический максимум, достигнув отметки в 66,1 тысячи долларов, свидетельствуют данные торгов.  тысячи долларов, свидетельствуют данные торгов...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 30 окт, 10:32
                    span 243
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article3.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 30 окт, 9:27
                    span 798
                a.h4(href="update.html"): h4 Джордж Сорос атакует биткоин? Раньше он не признавал этот актив
                p Фонд Джорджа Сороса владеет биткоинами, организация инвестировала "небольшую сумму в первую криптовалюту", но больший интерес для него...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 30 окт, 9:27
                    span 798
            .update__block
                a(href="update.html").update__block-img 
                    //- img(src="" alt="биткоин" title="биткоин")
                .update__block-top
                    time 30 окт, 8:15
                    span 996
                a.h4(href="update.html"): h4 Названы характеристики стран, где могут признать биткоин
                p Следом за Сальвадором, признавшим биткоин официальным платежным средством в июне, могут последовать и другие страныпоследовать и другие...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 30 окт, 8:15
                    span 996
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article4.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 29 окт, 20:48
                    span  1574
                a.h4(href="update.html"): h4 Amazon начнет прием платежей в криптовалюте, сообщили СМИ
                p Один из крупнейших в мире онлайн-ритейлеров Amazon в скором времени может разрешить покупателям оплачивать товары в криптовалюте, сообщает...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 29 окт, 20:48
                    span  1574
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article5.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 29 окт, 19:25
                    span 1687
                a.h4(href="update.html"): h4 Дерипаска призвал ЦБ заняться криптовалютой
                p Бизнесмен Олег Дерипаска призвал Банк России заняться развитием криптовалют в стране, чтобы "не стать полигоном для их испытания со стороны более предусмотрительного ... 
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 29 окт, 19:25
                    span 1687
            .update__block
                a(href="update.html").update__block-img 
                    img(src="./wp-content/themes/Blitz-Script/assets/img/article2.jpg" alt="биткоин" title="биткоин")
                .update__block-top
                    time 29 окт, 18:24
                    span 1243
                a.h4(href="update.html"): h4 Центробанк назвал биткоин финансовой пирамидой
                p Первый зампред Центрального банка (ЦБ) России Сергей Швецов предупредил о рисках при покупке гражданами биткоина.
                    |В интервью Reuters он назвал. В интервью Reuters он назвал...
                .update__block-bottom
                    a(href="update.html") Читать полностью &#62;
                    time 29 окт, 18:24
                    span 1243
        button.btn.btn-green Еще обновления