section.section-update.section-update2
    .container 
        h1 Обновления
        .update__wrap 
            .update__wrap-block
                .update__block
                    a(href="").update__block-img 
                        //- img(src="./wp-content/themes/Blitz-Script/assets/img/article1.jpg" alt="биткоин" title="биткоин")
                    .update__block-top
                        time 30 окт, 10:32
                        span 798
                    a.h3(href=""): h3 Доступно новое обновление движка #4.6.20
                    ul 
                        li • Курс валюты на покупку = курсу валюты на продажу;
                        li • Удаление пополнений cо страницы редактирования пользователя работает корректно;
                        li • Добавлена ф-я db_affected_rows() - возвращает количество затронутых запросом mysql строк;
                        li • Адрес cdn сменился на - //icon-box.live/sprite/latest/
                        li • Адрес витрины и технических доменов сменился на .com и .tools соответственно;
                        li • Настройка максимального количества активных депозитов пользователя (по умолчанию скрыто);
                        li • Изменение реферала у пользователя через select, учитывается изменение количества рефералов по ветке;
                        li • Ручные пополнения работают корректно (не записывался номер транзакции);
                        li • Фикс ручных пополнений на крипту;
                        li • Новый инсталлер;
                        li • Фикс накрутки выплат (не считались как фейковые);
                        li • Добавлено уведомление при включении предпросмотра новости;
                        li • Добавлена возможность включить тестовый режим для пополнений Paykassa;
                        li • Запрещено изменение статуса "плавающий процент" при изменении планов;
                        li • Возможность переключить комиссию Payeer на магазин;
                        li • Возможность подключения Sendpulse, рассылка сообщений.
                .button-wrapper 
                    a.btn.btn-green(href="purchaseALicense.html") 
                        span ⟵
                        |Предыдущая страница 
                        
                    a.btn.btn-border(href="checkTheLicense.html") Следующая страница
                        span ⟶
            include ./../../bem-blocks/sidebar/sidebar2.pug