section.main-section.p-t-b1
    .container 
        .wrap
            h1 Beta-тест 5.0
            h2 Интересный и привлекающий заголовок о Beta-тест 5.0
            p Уточняющая 
                a(href="") информация     
                |    про движок. Здесь пользователю 
                | рассказывается достаточно 
                a(href="") подробная информация 
                |     о движке и его преимуществах. Добавлена возможность 
                | выбора сервиса для перевода (google, yandex), перевод 
                | админки, fix курсов и уведомлений. 
                a(href="" download="") Скачать
            